requests
py7zr
python-telegram-bot==13.0
pytube
BeautifulSoup4
yt_dlp
requests_toolbelt
cryptocode
requests[socks]
user_agent
requests
requests[socks]
bs4
user_agent
youtube_dl
requests_toolbelt
telethon
tenacity